<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Angular JS Shopping List App</title>
	
	

	<script src="js/angular.min.js"></script>

	<!-- CSS Framework -->
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
	


	
	
	
</head>


<body>
	
	<script>
		var app = angular.module("myShoppingList",[]);
		app.controller("myCtrl", function($scope) {
			$scope.products = ["Milk", "Bread", "Cheese"];
			$scope.addItem = function () {
				$scope.errortext = "";
				if (!$scope.addMe) {return;}
				if ($scope.products.indexOf($scope.addMe) == -1) {
					$scope.products.push($scope.addMe);
				} else {
					$scope.errortext = "The item is already in your shopping list.";
				}
				
			}
			$scope.removeItem = function (x) {
				$scope.products.splice(x, 1);
			}
		});
	</script>

	<div style="max-width:400px;" class="w3-card-2 w3-margin" ng-app="myShoppingList" ng-controller="myCtrl">
		<header class="w3-container w3-light-grey w3-padding-16">
			<h3>My Shopping List</h3>
		</header>
		<ul class="w3-ul">
			<li class="w3-padding-16" ng-repeat="x in products">{{x}} <span class="w3-right w3-margin-right" style="cursor:pointer;" ng-click="removeItem($index)">x</span></li>
		</ul>
		<div class="w3-container w3-light-grey w3-paddding-16">
			<div class="w3-row w3-margin-top">
				<div class="w3-col s10">
					<input class="w3-input w3-border w3-padding" placeholder="Add shopping items here" ng-model="addMe">
				</div>
				<div class="w3-col s2">
					<button class="w3-btn w3-padding w3-green" ng-click="addItem()">Add</button>
				</div>
			</div>
			<p class="w3-padding-left w3-text-red">{{errortext}}</p>
		</div>
	</div>

</body>
</html>


